# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# Environment & Storage
.env
.env.local
.backend
.temp/
Krylo-main/
backend/storage/brands/*
!backend/storage/brands/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Pytest / Test
.pytest_cache/
.coverage
